# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Objectives:
-  List popular languages for Data Science;
-  List commonly used libraries used by Data Scientists;
-  Make some simple arithmetic and conversions using Python.

### Some of the popular languages that Data Scientists use are:
 -  Python: Python is widely regarded as the go-to language for data science. It has extensive libraries and frameworks like NumPy, Pandas, Matplotlib, and Scikit-learn that make it easy to manipulate data, perform statistical analysis, and create machine learning models.

-  R: R is another popular language in the field of data science, particularly in statistical analysis and data visualization. It has a rich ecosystem of packages for statistical computing and graphics, making it a preferred choice for statisticians and data analysts.

-  SQL (Structured Query Language): While not a traditional programming language, SQL is essential for data science, especially in handling and querying databases. Knowing how to retrieve and manipulate data using SQL is a crucial skill for data scientists working with large datasets.

### Some of the commonly used libraries used by Data Scientists include:
-  Python Libraries
> Pandas,
> NumPy,
> Scikit-learn.

-  R Libraries
> caret,
> dplyr,
> ggplot2.

In [3]:
import pandas as pd

In [6]:
tools = pd.DataFrame(
{'dtatools': ['Jupyter Notebooks', 'RStudio', 'VS Code']})
tools

            dtatools
0  Jupyter Notebooks
1            RStudio
2            VS Code

### Below are a few examples of evaluating arithmetic expressions in Python

In [8]:
# This a simple arithmetic expression to mutiply then add integers
(3*4) + 5

17

In [9]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author: Ruy Nunes